
.showMoreHidden {
	overflow:hidden;
	transition:2s ease-out;
}
.moreButton {
	background-color: rgb(49, 127, 230);
	border: none;
	border-radius: 5px;
	box-shadow:0px 0px 2px rgba(0,0,0,0.5);
	color: white;
	cursor: pointer;
	display: block;
	font-family: 'Oxygen', "Arial", sans-serif;
	font-size: 14pt;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	margin: 30px auto 30px auto;
	font-weight: bold;
}
.moreButton:hover{
	filter: contrast(110%) brightness(115%);
}
.buttonDownArrow:after {
	content: ' \25BC';
}
#skills {
	display:grid;
}
.skillItem {
	align-items: center;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	min-width:80px;
	padding:45px;
}
.skillItemImg {
	width:100%;
	min-width: 50px;
	max-width: 150px
}
.skillItem:hover {
	background-color: rgb(251, 251, 251);
	border-radius: 10px;
	box-shadow:0px 0px 3px 0px rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 1100px) {
	#skills {
		grid-template-columns: repeat(5, minmax(50px, 1fr));
		padding:50px;
	}
}
@media only screen and (max-width: 1100px) {
	#skills {
		grid-template-columns: repeat(2, minmax(50px, 1fr));
	}
}
#webDev {
	padding-left:20px;
	padding-right:20px;
}
.webProject {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top:30px;
}
.websiteTitle {
	align-items: center;
	box-sizing: content-box;
	display: flex;
	justify-content: center;
}
.websiteTitle .centered .text{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width:100%;
}
.websiteTitle .text h3 {
	margin:0px;
	font-size: 1.5em;
}
.external {
	height:auto;
	padding-left:7px;
	padding-top:2px;
	width:16px;
}
.websiteTitle:hover .text ~ .underline {
	background-color: #000;
	width:100%;
	opacity: 100%;
}
.website {
	width:100%;
}
.webImg {
	align-items: center;
	height:100%;
	min-width:200px;
	padding:25px;
}
.webImg img,
.webImg svg {
	width:100%;
	max-width:700px;
}
.lazyLoadImgContainer {
	display:grid;
}
.lazyLoadImgContainer .placeholderImg,
.lazyLoadImgContainer .fullImg {
	grid-column: 1;
	grid-row: 1;
}
.lazyLoadImgContainer .fullImg {
	z-index: 1;
}
.placeholderImg.sandpaper {
	border-radius: 10px;
}
.sandpaper {
	box-shadow: 0px 1px 5px 2px rgba(0, 0, 0,0.2);
	
}
.webText {
	max-width: 700px;
	padding:25px;
	padding-bottom:0px;
}

/* 3D projects */

.label {
	font-size: 24pt;
	font-weight: 300;
	font-family: "Oxygen", "Roboto", "Arial", sans-serif;
	padding-top: 12px;
	margin:0;
	text-align: center;
}
.label + hr {
	margin:15px auto 10px auto;
	width:80%;
}
.showcaseWrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 15px;
}
.showcaseWrapper a:hover img,
.showcaseWrapper a:focus img,
.showcaseWrapper a:hover svg,
.showcaseWrapper a:focus svg {
	filter: contrast(110%) brightness(105%);
	border-radius: 30px;
}
.showcaseWrapper a {
	padding: 35px;
	min-width: 100px;
	width: 350px;
	cursor: pointer;
}
.showcaseWrapper a img,
.showcaseWrapper a svg {
	border-radius: 25px;
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0,0.2);
	margin: 0px;
	width: 100%;
	transition: 0.2s;
}
@media only screen and (max-width: 1100px) {
	.showcaseWrapper {
		flex-wrap: wrap;
	}
}
#gotoTopBtn {
	background-color: rgb(49, 127, 230);
	background-image: radial-gradient(rgba(50,50,50,0.3), rgba(0,0,0,0), rgba(0,0,0,0));
	background-position-x: center;
	background-position-y: center;
	background-size: 100%;
	background-repeat: no-repeat;
	border-radius: 100%;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
	position: sticky;
	bottom: 20px;
	left: 100%;
	padding:0px;
	margin: 20px;
	height:50px;
	width: 50px;
	transition: 0.3s cubic-bezier(.68,-0.55,.27,1.55);
	display:flex;
	justify-content: center;
	align-items: center;
	z-index:2;
}
#gotoTopBtn:hover,
#gotoTopBtn:focus { 
	box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
	filter: brightness(110%);
}
.upArrow {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 5px;
	border-radius: 2px;
	transform: rotate(225deg);
	transition: 0.2s ease-in-out;
	margin-top:3px;
}
#gotoTopBtn:hover > .upArrow {
	margin-top:-5px;
}
.zoomOut {
	transform: scale(0);
}

/* Contact Section */
  
#ContactForm {
	position: relative;
	border-radius: 5px;
	background-color: #fefefe;
	padding: 35px;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 55px;
	margin-top: 40px;
	width: 60%;
	min-width:300px;
	max-width: 1000px;
	box-shadow: 0px 1px 5px 1px rgba(0,0,0, 0.2);
}
.contactTypes {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-bottom: 50px;
	margin-top: 50px;
}
.contactMethod {
	display:flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
.virticalLine {
	background-color: #000;
	height:40px;
	margin-right:10px;
	margin-left: 10px;
	width:2px;
}
.contactImg {
	width:50px;
}

/* Footer */

footer {
	background-color: rgb(220, 220, 220);
	display: flex;
	flex-wrap: wrap;
	font-size: 0.75em;
	height: auto;
	justify-content: space-between;
	align-items: center;
	min-width: 50px;
	padding: 15px 15px 15px 15px;
}
.footerLinks {
	display:flex;
}

/* CSS for 3D model showcase */

#description {
    font-family: 'Roboto-Light', 'Open Sans', "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: hsl(213, 5%, 35%);
    margin: 0px;
    letter-spacing: 0;
}
	display: none;
	grid-template-columns: 50% 50%;
	opacity: 0;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 5%;
    margin-right:5%;
    margin-bottom:20px;
	box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
	border-radius: 10px;
}
@media only screen and (max-width: 1000px) {
	#webGLViewer {
		grid-template-columns: 100%;
	}
	#additionalOptionsContainer {
		grid-column: auto !important;
	}
}
#viewer3d {
	background-color: rgb(214,211,202);
	grid-column: 1;
	grid-row: 1;
}
.defaultViewer3D {
    position:relative;
}
.fullscreenViewer3d {
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    min-width:500px;
	overflow-x:hidden;
	scrollbar-width: thin;
	z-index:2;
}
#fullscreenCloseBtn {
	background-color: rgba(255,255,255,0.75);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
	border-radius: 100%;
	display:flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	cursor: pointer;
	width: 30px;
	height:30px;
	top:0px;
	right:5px;
	margin-top:10px;
	margin-right:10px;
	padding:15px;
	position:fixed;
	transition: 0.2s;
	z-index:3;
}
#fullscreenCloseBtn:hover {
	background-color: rgba(255,255,255,0.95);
}
.xTop,
.xBot {
	background-color: rgba(30,30,30,1.0);
	border-radius: 2px;
	height:6px;
	width:100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	outline: 1px solid transparent;
	transition: 0.2s;
}
.xTop {
	transform: translate(0px, 50%) scale(1.20,1.20) rotate(45deg);
}
.xBot {
	transform: translate(0px, -50%) scale(1.20,1.20) rotate(-45deg);
}
#additionalOptionsContainer {
	display:flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-around;
	background-color: #eee;
	grid-column: 1/3;
	min-height:120px;
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    width:calc(100% - 20px);
    overflow:hidden;
}
#additionalOptionsContainer img {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100px;
    height:100px;
    margin-right:10px;
    margin-bottom:10px;
    transition: 0.05s ease-in-out;
}
#additionalOptionsContainer img:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
}
ul.specs {
    list-style-type: none;
    padding-left:0px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
}
ul.specs li {
    padding-bottom:20px;
    min-width: 177px;
}
ul.specs li hr {
    border-top: 1px solid;
    border-bottom:0px;
    margin-top:0px;
    min-width:30%;
    margin-left:0px;
}
.arrow {
    border: solid black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 15px;
    border-radius: 5px;
    transition: opacity 0.2s;
}
#nextBtn {
    transform: rotate(-45deg);
}
#nextBtnWrapper {
	cursor: pointer;
    position:absolute;
    top: 40%;
    right:0px;
    padding:20px;
    padding-top:50px;
    padding-bottom:50px;
    padding-right:30px;
    opacity: 0.2;
    transition: 0.2s ease-in-out;
    height:40px;
    width:40px;
    z-index:3;
}
#nextBtnWrapper:hover {
    filter:invert(100%);
    opacity: 0.7;
}
#previousBtn {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
#previousBtnWrapper {
	cursor: pointer;
    position:absolute;
    top: 40%;
    left:0px;
    padding:20px;
    padding-top:50px;
    padding-bottom:50px;
    padding-left:30px;
    opacity: 0.2;
    transition: 0.2s ease-in-out;
    height:40px;
    width:40px;
    z-index:3;
}
#previousBtnWrapper:hover {
    filter:invert(100%);
    opacity: 0.7;
}
#fullscreenBtn {
    position: absolute;
    right:0px;
    bottom:0px;
    height:32px;
    width:32px;
    padding:5px;
    background-image: url(../images/fullscreen32.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    filter: invert(10%);
    transition: filter 0.1s ease-in-out;
    background-color: white;
    opacity: 0.6;
    z-index:3;
}
#fullscreenBtn:hover {
    filter: invert(90%);
}
#itemInformation {
    background: #fafafa;
    padding:20px;
    padding-top:0px;
}
#itemInformation h2 {
    text-align: center;
}
#modelCopyright {
	bottom:0px;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 8pt;
	opacity: 0.5;
	user-select: none;
	position:absolute;
	text-align: center;
	width:100%;
	z-index: 2;
}
#loadingBar {
    position:absolute;
    bottom:0px;
    background-color:rgb(49, 127, 230);
    height: 5px;
    width: 0%;
    transition: width 0.4s ease-out;
}
#viewerImg img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 100%;
    z-index:1;
}
model-viewer{
	height: 100%;
	width: 100%;
    position: absolute;
    top:0px;
    left:0px;
	display:block;
	--progress-bar-color: rgb(49, 127, 230);
}
#poster {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	filter: blur(10px);
    background-size: cover;
    background-repeat: no-repeat;
	background-position: center;
	z-index:0;
}
#loadingSpinner{
    opacity: 0;
    position:absolute;
    left:0;
    right:0;
    margin:0 auto;
    top:30%;
    width: 80px;
    z-index: 3;
}
#loadingSpinner:after {
    animation: lds-dual-ring 2.5s linear infinite;
    position: absolute;
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
}
.fadeIn {
    animation: fadeIn 0.3s linear;
}
.fadeInOnScroll {
	opacity: 0;
}
.fadeInOnScroll2 {
	animation: fadeIn 0.5s linear;
	opacity:1;
}
.fadeOut {
    animation: fadeout 0.3s linear;
}
.fadeOutSlow {
    animation: fadeout 0.7s linear;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% { opacity: 1;}
}
@keyframes fadeout {
	0% { opacity: 1;}
	100% {opacity: 0;}
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
